#site-header {
	//background-color: rgba(yellow, 0.5);
	p {
	  color: #999;
	}
}

#site-nav {
	//background-color: rgba(blue, 0.5);
	li {
		&:hover {
			background-color: #017cc2;
			a {
				color: white;
			}
		}
		a {
			color: #017cc2;
		}
	}
	li.expanded {
		&:hover {
			ul {
				background-color: white;
				li:hover {
					a {
						color: white;
					}
				}
				a {
					color: #017cc2;
				}
			}
		}
	}
}

#site-banner {
	@include background-image(radial-gradient(50% 0, ellipse, #d5f1fd, #93c9ee 90%, #52a9de));
	color: #0073b5;
	@include text-shadow(rgba(blue, 0.5) 2px 2px 3px);
}

#main-content {
	@include at-breakpoint($break-3) {
		background: #fff url(../images/backgr_factory_group.jpg) bottom left no-repeat;
		@include background-size(cover);
		h1, h2 {
			color: #09f;
		}
		article.serie {
			h3 {
    		background: #09f url(../images/cmo_logo_white.png) 1em no-repeat;
				color: white;
			}
			ul {
				li {
					div.box {
						border: solid 5px #666;
				    @include border-radius(0.25em);
						a {
							div.slide {
								&:hover {
									div.scontent {
										opacity: 0;
									}
									img {
										@include scale(1.5, 1.5);
									}
								}
							}
							img {
								@include transition-property(all);
								@include transition-duration(1s);
							}
							div.scontent {
								color: white;
								background-color: black;
								opacity: 0.65;
								@include transition-property(opacity);
								@include transition-duration(1s);
								h2 {
									color: white;
								}
							}
						}
					}
				}
			}
		}
	}
}

#site-footer {
	background-color: rgba(gray, 0.5);
	p {
	  color: #999;
	}
}
