$azul: #017cc2;
$gris: #333131;

.site {
	background: transparent url(../images/me_backg_opa.jpg) top left;
	@include background-size(auto);
	color: $gris;
	a,
	a.visited {
		//color: $azul;
	  color: $gris;
	}
}

#site-header {
	//background-color: rgba(yellow, 0.5);
	p {
	  color: #999;
	}
}

#site-nav {
	//background-color: rgba(blue, 0.5);
	li {
		&:hover {
			//background-color: #017cc2;
			background-color: $azul;
			a {
				color: white;
			}
		}
		a {
			//color: #017cc2;
			color: $azul;
		}
	}
	li.expanded {
		&:hover {
			ul {
				background-color: white;
				li:hover {
					a {
						color: white;
					}
				}
				a {
					color: $azul;
				}
			}
		}
	}
}

#site-banner {
	@include background-image(radial-gradient(50% 0, ellipse, #d5f1fd, #93c9ee 90%, #52a9de));
	color: #0073b5;
	@include text-shadow(rgba(blue, 0.5) 2px 2px 3px);
}

#main-content {

	@include at-breakpoint($break-3) {
		//background: #fff url(../images/backgr_factory_group.jpg) bottom left no-repeat;
		h1, h2 {
			color: $azul;
		}
		article {
  	}
		article.basic-page {
    		background: white url(../images/backgr_factory_group.jpg) bottom right no-repeat;
		}
		article.serie {
			h3 {
    		background: $azul url(../images/cmo_logo_white.png) 1em no-repeat;
				background-size: 1.5em;
				color: white;
			}
			ul {
				li {
					div.box {
						border: solid 2px #666;
				    @include border-radius(0.5em);
						a {
							div.slide {
								&:hover {
									div.scontent {
										p {
										}
									}
									img {
									}
								}
							}
							img {
							}
							div.scontent {
								color: white;
								background-color: rgba(0,0,60,.25);
								//opacity: 0.5;
								h2 {
    		          background: $azul url(../images/cmo_logo_white.png) 0.5em no-repeat;
          				background-size: 1.5em;
									color: white;
								}
								p {
								}
							}

							div.slide.catalogo {
								div.scontent {
									h2 {
										background: transparent;
								}
							}
						}
						} 
					}
				}
			}
		}

		article.producto {
			header {
				section#ficheros {
					a {
						//color: black;
					}
				}
			}
      // Iconos barra navegación de productos
			div.product-navigation {
				.icon-icomoon-arrow-left2:before {
					content: "";
				}
				.icon-icomoon-arrow-left2 {
					background: transparent url(../images/arrow_l.png) center left no-repeat;
					background-size: 2.5em;
				}
				.icon-icomoon-arrow-right2:before {
					content: "";
				}
				.icon-icomoon-arrow-right2 {
					background: transparent url(../images/arrow_r.png) center right no-repeat;
					background-size: 2.5em;
				}
			}
		}

	}
}

#site-footer {
	//background: #fff url(../images/foot_graphic.jpg) bottom left no-repeat;
	background-color: #999;
	p {
	  color: #999;
	}
}
