#site-header {
	background-color: rgba(yellow, 0.5);
	p {
	  color: #999;
	}
}

#site-nav {
	background-color: rgba(yellow, 0.5);
	p {
	  color: #999;
	}
}

#site-footer {
	background-color: rgba(yellow, 0.5);
	p {
	  color: #999;
	}
}
