@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-icomoon"], [class*=" icon-icomoon"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icomoon-home:before {
	content: "\e600";
}
.icon-icomoon-home2:before {
	content: "\e601";
}
.icon-icomoon-home3:before {
	content: "\e602";
}
.icon-icomoon-office:before {
	content: "\e603";
}
.icon-icomoon-newspaper:before {
	content: "\e604";
}
.icon-icomoon-pencil:before {
	content: "\e605";
}
.icon-icomoon-pencil2:before {
	content: "\e606";
}
.icon-icomoon-quill:before {
	content: "\e607";
}
.icon-icomoon-pen:before {
	content: "\e608";
}
.icon-icomoon-blog:before {
	content: "\e609";
}
.icon-icomoon-droplet:before {
	content: "\e60a";
}
.icon-icomoon-paint-format:before {
	content: "\e60b";
}
.icon-icomoon-image:before {
	content: "\e60c";
}
.icon-icomoon-image2:before {
	content: "\e60d";
}
.icon-icomoon-images:before {
	content: "\e60e";
}
.icon-icomoon-camera:before {
	content: "\e60f";
}
.icon-icomoon-music:before {
	content: "\e610";
}
.icon-icomoon-headphones:before {
	content: "\e611";
}
.icon-icomoon-play:before {
	content: "\e612";
}
.icon-icomoon-film:before {
	content: "\e613";
}
.icon-icomoon-camera2:before {
	content: "\e614";
}
.icon-icomoon-dice:before {
	content: "\e615";
}
.icon-icomoon-pacman:before {
	content: "\e616";
}
.icon-icomoon-spades:before {
	content: "\e617";
}
.icon-icomoon-clubs:before {
	content: "\e618";
}
.icon-icomoon-diamonds:before {
	content: "\e619";
}
.icon-icomoon-pawn:before {
	content: "\e61a";
}
.icon-icomoon-bullhorn:before {
	content: "\e61b";
}
.icon-icomoon-connection:before {
	content: "\e61c";
}
.icon-icomoon-podcast:before {
	content: "\e61d";
}
.icon-icomoon-feed:before {
	content: "\e61e";
}
.icon-icomoon-book:before {
	content: "\e61f";
}
.icon-icomoon-books:before {
	content: "\e620";
}
.icon-icomoon-library:before {
	content: "\e621";
}
.icon-icomoon-file:before {
	content: "\e622";
}
.icon-icomoon-profile:before {
	content: "\e623";
}
.icon-icomoon-file2:before {
	content: "\e624";
}
.icon-icomoon-file3:before {
	content: "\e625";
}
.icon-icomoon-file4:before {
	content: "\e626";
}
.icon-icomoon-copy:before {
	content: "\e627";
}
.icon-icomoon-copy2:before {
	content: "\e628";
}
.icon-icomoon-copy3:before {
	content: "\e629";
}
.icon-icomoon-paste:before {
	content: "\e62a";
}
.icon-icomoon-paste2:before {
	content: "\e62b";
}
.icon-icomoon-paste3:before {
	content: "\e62c";
}
.icon-icomoon-stack:before {
	content: "\e62d";
}
.icon-icomoon-folder:before {
	content: "\e62e";
}
.icon-icomoon-folder-open:before {
	content: "\e62f";
}
.icon-icomoon-tag:before {
	content: "\e630";
}
.icon-icomoon-tags:before {
	content: "\e631";
}
.icon-icomoon-barcode:before {
	content: "\e632";
}
.icon-icomoon-qrcode:before {
	content: "\e633";
}
.icon-icomoon-ticket:before {
	content: "\e634";
}
.icon-icomoon-cart:before {
	content: "\e635";
}
.icon-icomoon-cart2:before {
	content: "\e636";
}
.icon-icomoon-cart3:before {
	content: "\e637";
}
.icon-icomoon-coin:before {
	content: "\e638";
}
.icon-icomoon-credit:before {
	content: "\e639";
}
.icon-icomoon-calculate:before {
	content: "\e63a";
}
.icon-icomoon-support:before {
	content: "\e63b";
}
.icon-icomoon-phone:before {
	content: "\e63c";
}
.icon-icomoon-phone-hang-up:before {
	content: "\e63d";
}
.icon-icomoon-address-book:before {
	content: "\e63e";
}
.icon-icomoon-notebook:before {
	content: "\e63f";
}
.icon-icomoon-envelope:before {
	content: "\e640";
}
.icon-icomoon-pushpin:before {
	content: "\e641";
}
.icon-icomoon-location:before {
	content: "\e642";
}
.icon-icomoon-location2:before {
	content: "\e643";
}
.icon-icomoon-compass:before {
	content: "\e644";
}
.icon-icomoon-map:before {
	content: "\e645";
}
.icon-icomoon-map2:before {
	content: "\e646";
}
.icon-icomoon-history:before {
	content: "\e647";
}
.icon-icomoon-clock:before {
	content: "\e648";
}
.icon-icomoon-clock2:before {
	content: "\e649";
}
.icon-icomoon-alarm:before {
	content: "\e64a";
}
.icon-icomoon-alarm2:before {
	content: "\e64b";
}
.icon-icomoon-bell:before {
	content: "\e64c";
}
.icon-icomoon-stopwatch:before {
	content: "\e64d";
}
.icon-icomoon-calendar:before {
	content: "\e64e";
}
.icon-icomoon-calendar2:before {
	content: "\e64f";
}
.icon-icomoon-print:before {
	content: "\e650";
}
.icon-icomoon-keyboard:before {
	content: "\e651";
}
.icon-icomoon-screen:before {
	content: "\e652";
}
.icon-icomoon-laptop:before {
	content: "\e653";
}
.icon-icomoon-mobile:before {
	content: "\e654";
}
.icon-icomoon-mobile2:before {
	content: "\e655";
}
.icon-icomoon-tablet:before {
	content: "\e656";
}
.icon-icomoon-tv:before {
	content: "\e657";
}
.icon-icomoon-cabinet:before {
	content: "\e658";
}
.icon-icomoon-drawer:before {
	content: "\e659";
}
.icon-icomoon-drawer2:before {
	content: "\e65a";
}
.icon-icomoon-drawer3:before {
	content: "\e65b";
}
.icon-icomoon-box-add:before {
	content: "\e65c";
}
.icon-icomoon-box-remove:before {
	content: "\e65d";
}
.icon-icomoon-download:before {
	content: "\e65e";
}
.icon-icomoon-upload:before {
	content: "\e65f";
}
.icon-icomoon-disk:before {
	content: "\e660";
}
.icon-icomoon-storage:before {
	content: "\e661";
}
.icon-icomoon-undo:before {
	content: "\e662";
}
.icon-icomoon-redo:before {
	content: "\e663";
}
.icon-icomoon-flip:before {
	content: "\e664";
}
.icon-icomoon-flip2:before {
	content: "\e665";
}
.icon-icomoon-undo2:before {
	content: "\e666";
}
.icon-icomoon-redo2:before {
	content: "\e667";
}
.icon-icomoon-forward:before {
	content: "\e668";
}
.icon-icomoon-reply:before {
	content: "\e669";
}
.icon-icomoon-bubble:before {
	content: "\e66a";
}
.icon-icomoon-bubbles:before {
	content: "\e66b";
}
.icon-icomoon-bubbles2:before {
	content: "\e66c";
}
.icon-icomoon-bubble2:before {
	content: "\e66d";
}
.icon-icomoon-bubbles3:before {
	content: "\e66e";
}
.icon-icomoon-bubbles4:before {
	content: "\e66f";
}
.icon-icomoon-user:before {
	content: "\e670";
}
.icon-icomoon-users:before {
	content: "\e671";
}
.icon-icomoon-user2:before {
	content: "\e672";
}
.icon-icomoon-users2:before {
	content: "\e673";
}
.icon-icomoon-user3:before {
	content: "\e674";
}
.icon-icomoon-user4:before {
	content: "\e675";
}
.icon-icomoon-quotes-left:before {
	content: "\e676";
}
.icon-icomoon-busy:before {
	content: "\e677";
}
.icon-icomoon-spinner:before {
	content: "\e678";
}
.icon-icomoon-spinner2:before {
	content: "\e679";
}
.icon-icomoon-spinner3:before {
	content: "\e67a";
}
.icon-icomoon-spinner4:before {
	content: "\e67b";
}
.icon-icomoon-spinner5:before {
	content: "\e67c";
}
.icon-icomoon-spinner6:before {
	content: "\e67d";
}
.icon-icomoon-binoculars:before {
	content: "\e67e";
}
.icon-icomoon-search:before {
	content: "\e67f";
}
.icon-icomoon-zoom-in:before {
	content: "\e680";
}
.icon-icomoon-zoom-out:before {
	content: "\e681";
}
.icon-icomoon-expand:before {
	content: "\e682";
}
.icon-icomoon-contract:before {
	content: "\e683";
}
.icon-icomoon-expand2:before {
	content: "\e684";
}
.icon-icomoon-contract2:before {
	content: "\e685";
}
.icon-icomoon-key:before {
	content: "\e686";
}
.icon-icomoon-key2:before {
	content: "\e687";
}
.icon-icomoon-lock:before {
	content: "\e688";
}
.icon-icomoon-lock2:before {
	content: "\e689";
}
.icon-icomoon-unlocked:before {
	content: "\e68a";
}
.icon-icomoon-wrench:before {
	content: "\e68b";
}
.icon-icomoon-settings:before {
	content: "\e68c";
}
.icon-icomoon-equalizer:before {
	content: "\e68d";
}
.icon-icomoon-cog:before {
	content: "\e68e";
}
.icon-icomoon-cogs:before {
	content: "\e68f";
}
.icon-icomoon-cog2:before {
	content: "\e690";
}
.icon-icomoon-hammer:before {
	content: "\e691";
}
.icon-icomoon-wand:before {
	content: "\e692";
}
.icon-icomoon-aid:before {
	content: "\e693";
}
.icon-icomoon-bug:before {
	content: "\e694";
}
.icon-icomoon-pie:before {
	content: "\e695";
}
.icon-icomoon-stats:before {
	content: "\e696";
}
.icon-icomoon-bars:before {
	content: "\e697";
}
.icon-icomoon-bars2:before {
	content: "\e698";
}
.icon-icomoon-gift:before {
	content: "\e699";
}
.icon-icomoon-trophy:before {
	content: "\e69a";
}
.icon-icomoon-glass:before {
	content: "\e69b";
}
.icon-icomoon-mug:before {
	content: "\e69c";
}
.icon-icomoon-food:before {
	content: "\e69d";
}
.icon-icomoon-leaf:before {
	content: "\e69e";
}
.icon-icomoon-rocket:before {
	content: "\e69f";
}
.icon-icomoon-meter:before {
	content: "\e6a0";
}
.icon-icomoon-meter2:before {
	content: "\e6a1";
}
.icon-icomoon-dashboard:before {
	content: "\e6a2";
}
.icon-icomoon-hammer2:before {
	content: "\e6a3";
}
.icon-icomoon-fire:before {
	content: "\e6a4";
}
.icon-icomoon-lab:before {
	content: "\e6a5";
}
.icon-icomoon-magnet:before {
	content: "\e6a6";
}
.icon-icomoon-remove:before {
	content: "\e6a7";
}
.icon-icomoon-remove2:before {
	content: "\e6a8";
}
.icon-icomoon-briefcase:before {
	content: "\e6a9";
}
.icon-icomoon-airplane:before {
	content: "\e6aa";
}
.icon-icomoon-truck:before {
	content: "\e6ab";
}
.icon-icomoon-road:before {
	content: "\e6ac";
}
.icon-icomoon-accessibility:before {
	content: "\e6ad";
}
.icon-icomoon-target:before {
	content: "\e6ae";
}
.icon-icomoon-shield:before {
	content: "\e6af";
}
.icon-icomoon-lightning:before {
	content: "\e6b0";
}
.icon-icomoon-switch:before {
	content: "\e6b1";
}
.icon-icomoon-power-cord:before {
	content: "\e6b2";
}
.icon-icomoon-signup:before {
	content: "\e6b3";
}
.icon-icomoon-list:before {
	content: "\e6b4";
}
.icon-icomoon-list2:before {
	content: "\e6b5";
}
.icon-icomoon-numbered-list:before {
	content: "\e6b6";
}
.icon-icomoon-menu:before {
	content: "\e6b7";
}
.icon-icomoon-menu2:before {
	content: "\e6b8";
}
.icon-icomoon-tree:before {
	content: "\e6b9";
}
.icon-icomoon-cloud:before {
	content: "\e6ba";
}
.icon-icomoon-cloud-download:before {
	content: "\e6bb";
}
.icon-icomoon-cloud-upload:before {
	content: "\e6bc";
}
.icon-icomoon-download2:before {
	content: "\e6bd";
}
.icon-icomoon-upload2:before {
	content: "\e6be";
}
.icon-icomoon-download3:before {
	content: "\e6bf";
}
.icon-icomoon-upload3:before {
	content: "\e6c0";
}
.icon-icomoon-globe:before {
	content: "\e6c1";
}
.icon-icomoon-earth:before {
	content: "\e6c2";
}
.icon-icomoon-link:before {
	content: "\e6c3";
}
.icon-icomoon-flag:before {
	content: "\e6c4";
}
.icon-icomoon-attachment:before {
	content: "\e6c5";
}
.icon-icomoon-eye:before {
	content: "\e6c6";
}
.icon-icomoon-eye-blocked:before {
	content: "\e6c7";
}
.icon-icomoon-eye2:before {
	content: "\e6c8";
}
.icon-icomoon-bookmark:before {
	content: "\e6c9";
}
.icon-icomoon-bookmarks:before {
	content: "\e6ca";
}
.icon-icomoon-brightness-medium:before {
	content: "\e6cb";
}
.icon-icomoon-brightness-contrast:before {
	content: "\e6cc";
}
.icon-icomoon-contrast:before {
	content: "\e6cd";
}
.icon-icomoon-star:before {
	content: "\e6ce";
}
.icon-icomoon-star2:before {
	content: "\e6cf";
}
.icon-icomoon-star3:before {
	content: "\e6d0";
}
.icon-icomoon-heart:before {
	content: "\e6d1";
}
.icon-icomoon-heart2:before {
	content: "\e6d2";
}
.icon-icomoon-heart-broken:before {
	content: "\e6d3";
}
.icon-icomoon-thumbs-up:before {
	content: "\e6d4";
}
.icon-icomoon-thumbs-up2:before {
	content: "\e6d5";
}
.icon-icomoon-happy:before {
	content: "\e6d6";
}
.icon-icomoon-happy2:before {
	content: "\e6d7";
}
.icon-icomoon-smiley:before {
	content: "\e6d8";
}
.icon-icomoon-smiley2:before {
	content: "\e6d9";
}
.icon-icomoon-tongue:before {
	content: "\e6da";
}
.icon-icomoon-tongue2:before {
	content: "\e6db";
}
.icon-icomoon-sad:before {
	content: "\e6dc";
}
.icon-icomoon-sad2:before {
	content: "\e6dd";
}
.icon-icomoon-wink:before {
	content: "\e6de";
}
.icon-icomoon-wink2:before {
	content: "\e6df";
}
.icon-icomoon-grin:before {
	content: "\e6e0";
}
.icon-icomoon-grin2:before {
	content: "\e6e1";
}
.icon-icomoon-cool:before {
	content: "\e6e2";
}
.icon-icomoon-cool2:before {
	content: "\e6e3";
}
.icon-icomoon-angry:before {
	content: "\e6e4";
}
.icon-icomoon-angry2:before {
	content: "\e6e5";
}
.icon-icomoon-evil:before {
	content: "\e6e6";
}
.icon-icomoon-evil2:before {
	content: "\e6e7";
}
.icon-icomoon-shocked:before {
	content: "\e6e8";
}
.icon-icomoon-shocked2:before {
	content: "\e6e9";
}
.icon-icomoon-confused:before {
	content: "\e6ea";
}
.icon-icomoon-confused2:before {
	content: "\e6eb";
}
.icon-icomoon-neutral:before {
	content: "\e6ec";
}
.icon-icomoon-neutral2:before {
	content: "\e6ed";
}
.icon-icomoon-wondering:before {
	content: "\e6ee";
}
.icon-icomoon-wondering2:before {
	content: "\e6ef";
}
.icon-icomoon-point-up:before {
	content: "\e6f0";
}
.icon-icomoon-point-right:before {
	content: "\e6f1";
}
.icon-icomoon-point-down:before {
	content: "\e6f2";
}
.icon-icomoon-point-left:before {
	content: "\e6f3";
}
.icon-icomoon-warning:before {
	content: "\e6f4";
}
.icon-icomoon-notification:before {
	content: "\e6f5";
}
.icon-icomoon-question:before {
	content: "\e6f6";
}
.icon-icomoon-info:before {
	content: "\e6f7";
}
.icon-icomoon-info2:before {
	content: "\e6f8";
}
.icon-icomoon-blocked:before {
	content: "\e6f9";
}
.icon-icomoon-cancel-circle:before {
	content: "\e6fa";
}
.icon-icomoon-checkmark-circle:before {
	content: "\e6fb";
}
.icon-icomoon-spam:before {
	content: "\e6fc";
}
.icon-icomoon-close:before {
	content: "\e6fd";
}
.icon-icomoon-checkmark:before {
	content: "\e6fe";
}
.icon-icomoon-checkmark2:before {
	content: "\e6ff";
}
.icon-icomoon-spell-check:before {
	content: "\e700";
}
.icon-icomoon-minus:before {
	content: "\e701";
}
.icon-icomoon-plus:before {
	content: "\e702";
}
.icon-icomoon-enter:before {
	content: "\e703";
}
.icon-icomoon-exit:before {
	content: "\e704";
}
.icon-icomoon-play2:before {
	content: "\e705";
}
.icon-icomoon-pause:before {
	content: "\e706";
}
.icon-icomoon-stop:before {
	content: "\e707";
}
.icon-icomoon-backward:before {
	content: "\e708";
}
.icon-icomoon-forward2:before {
	content: "\e709";
}
.icon-icomoon-play3:before {
	content: "\e70a";
}
.icon-icomoon-pause2:before {
	content: "\e70b";
}
.icon-icomoon-stop2:before {
	content: "\e70c";
}
.icon-icomoon-backward2:before {
	content: "\e70d";
}
.icon-icomoon-forward3:before {
	content: "\e70e";
}
.icon-icomoon-first:before {
	content: "\e70f";
}
.icon-icomoon-last:before {
	content: "\e710";
}
.icon-icomoon-previous:before {
	content: "\e711";
}
.icon-icomoon-next:before {
	content: "\e712";
}
.icon-icomoon-eject:before {
	content: "\e713";
}
.icon-icomoon-volume-high:before {
	content: "\e714";
}
.icon-icomoon-volume-medium:before {
	content: "\e715";
}
.icon-icomoon-volume-low:before {
	content: "\e716";
}
.icon-icomoon-volume-mute:before {
	content: "\e717";
}
.icon-icomoon-volume-mute2:before {
	content: "\e718";
}
.icon-icomoon-volume-increase:before {
	content: "\e719";
}
.icon-icomoon-volume-decrease:before {
	content: "\e71a";
}
.icon-icomoon-loop:before {
	content: "\e71b";
}
.icon-icomoon-loop2:before {
	content: "\e71c";
}
.icon-icomoon-loop3:before {
	content: "\e71d";
}
.icon-icomoon-shuffle:before {
	content: "\e71e";
}
.icon-icomoon-arrow-up-left:before {
	content: "\e71f";
}
.icon-icomoon-arrow-up:before {
	content: "\e720";
}
.icon-icomoon-arrow-up-right:before {
	content: "\e721";
}
.icon-icomoon-arrow-right:before {
	content: "\e722";
}
.icon-icomoon-arrow-down-right:before {
	content: "\e723";
}
.icon-icomoon-arrow-down:before {
	content: "\e724";
}
.icon-icomoon-arrow-down-left:before {
	content: "\e725";
}
.icon-icomoon-arrow-left:before {
	content: "\e726";
}
.icon-icomoon-arrow-up-left2:before {
	content: "\e727";
}
.icon-icomoon-arrow-up2:before {
	content: "\e728";
}
.icon-icomoon-arrow-up-right2:before {
	content: "\e729";
}
.icon-icomoon-arrow-right2:before {
	content: "\e72a";
}
.icon-icomoon-arrow-down-right2:before {
	content: "\e72b";
}
.icon-icomoon-arrow-down2:before {
	content: "\e72c";
}
.icon-icomoon-arrow-down-left2:before {
	content: "\e72d";
}
.icon-icomoon-arrow-left2:before {
	content: "\e72e";
}
.icon-icomoon-arrow-up-left3:before {
	content: "\e72f";
}
.icon-icomoon-arrow-up3:before {
	content: "\e730";
}
.icon-icomoon-arrow-up-right3:before {
	content: "\e731";
}
.icon-icomoon-arrow-right3:before {
	content: "\e732";
}
.icon-icomoon-arrow-down-right3:before {
	content: "\e733";
}
.icon-icomoon-arrow-down3:before {
	content: "\e734";
}
.icon-icomoon-arrow-down-left3:before {
	content: "\e735";
}
.icon-icomoon-arrow-left3:before {
	content: "\e736";
}
.icon-icomoon-tab:before {
	content: "\e737";
}
.icon-icomoon-checkbox-checked:before {
	content: "\e738";
}
.icon-icomoon-checkbox-unchecked:before {
	content: "\e739";
}
.icon-icomoon-checkbox-partial:before {
	content: "\e73a";
}
.icon-icomoon-radio-checked:before {
	content: "\e73b";
}
.icon-icomoon-radio-unchecked:before {
	content: "\e73c";
}
.icon-icomoon-crop:before {
	content: "\e73d";
}
.icon-icomoon-scissors:before {
	content: "\e73e";
}
.icon-icomoon-filter:before {
	content: "\e73f";
}
.icon-icomoon-filter2:before {
	content: "\e740";
}
.icon-icomoon-font:before {
	content: "\e741";
}
.icon-icomoon-text-height:before {
	content: "\e742";
}
.icon-icomoon-text-width:before {
	content: "\e743";
}
.icon-icomoon-bold:before {
	content: "\e744";
}
.icon-icomoon-underline:before {
	content: "\e745";
}
.icon-icomoon-italic:before {
	content: "\e746";
}
.icon-icomoon-strikethrough:before {
	content: "\e747";
}
.icon-icomoon-omega:before {
	content: "\e748";
}
.icon-icomoon-sigma:before {
	content: "\e749";
}
.icon-icomoon-table:before {
	content: "\e74a";
}
.icon-icomoon-table2:before {
	content: "\e74b";
}
.icon-icomoon-insert-template:before {
	content: "\e74c";
}
.icon-icomoon-pilcrow:before {
	content: "\e74d";
}
.icon-icomoon-left-toright:before {
	content: "\e74e";
}
.icon-icomoon-right-toleft:before {
	content: "\e74f";
}
.icon-icomoon-paragraph-left:before {
	content: "\e750";
}
.icon-icomoon-paragraph-center:before {
	content: "\e751";
}
.icon-icomoon-paragraph-right:before {
	content: "\e752";
}
.icon-icomoon-paragraph-justify:before {
	content: "\e753";
}
.icon-icomoon-paragraph-left2:before {
	content: "\e754";
}
.icon-icomoon-paragraph-center2:before {
	content: "\e755";
}
.icon-icomoon-paragraph-right2:before {
	content: "\e756";
}
.icon-icomoon-paragraph-justify2:before {
	content: "\e757";
}
.icon-icomoon-indent-increase:before {
	content: "\e758";
}
.icon-icomoon-indent-decrease:before {
	content: "\e759";
}
.icon-icomoon-new-tab:before {
	content: "\e75a";
}
.icon-icomoon-embed:before {
	content: "\e75b";
}
.icon-icomoon-code:before {
	content: "\e75c";
}
.icon-icomoon-console:before {
	content: "\e75d";
}
.icon-icomoon-share:before {
	content: "\e75e";
}
.icon-icomoon-mail:before {
	content: "\e75f";
}
.icon-icomoon-mail2:before {
	content: "\e760";
}
.icon-icomoon-mail3:before {
	content: "\e761";
}
.icon-icomoon-mail4:before {
	content: "\e762";
}
.icon-icomoon-google:before {
	content: "\e763";
}
.icon-icomoon-google-plus:before {
	content: "\e764";
}
.icon-icomoon-google-plus2:before {
	content: "\e765";
}
.icon-icomoon-google-plus3:before {
	content: "\e766";
}
.icon-icomoon-google-plus4:before {
	content: "\e767";
}
.icon-icomoon-google-drive:before {
	content: "\e768";
}
.icon-icomoon-facebook:before {
	content: "\e769";
}
.icon-icomoon-facebook2:before {
	content: "\e76a";
}
.icon-icomoon-facebook3:before {
	content: "\e76b";
}
.icon-icomoon-instagram:before {
	content: "\e76c";
}
.icon-icomoon-twitter:before {
	content: "\e76d";
}
.icon-icomoon-twitter2:before {
	content: "\e76e";
}
.icon-icomoon-twitter3:before {
	content: "\e76f";
}
.icon-icomoon-feed2:before {
	content: "\e770";
}
.icon-icomoon-feed3:before {
	content: "\e771";
}
.icon-icomoon-feed4:before {
	content: "\e772";
}
.icon-icomoon-youtube:before {
	content: "\e773";
}
.icon-icomoon-youtube2:before {
	content: "\e774";
}
.icon-icomoon-vimeo:before {
	content: "\e775";
}
.icon-icomoon-vimeo2:before {
	content: "\e776";
}
.icon-icomoon-vimeo3:before {
	content: "\e777";
}
.icon-icomoon-lanyrd:before {
	content: "\e778";
}
.icon-icomoon-flickr:before {
	content: "\e779";
}
.icon-icomoon-flickr2:before {
	content: "\e77a";
}
.icon-icomoon-flickr3:before {
	content: "\e77b";
}
.icon-icomoon-flickr4:before {
	content: "\e77c";
}
.icon-icomoon-picassa:before {
	content: "\e77d";
}
.icon-icomoon-picassa2:before {
	content: "\e77e";
}
.icon-icomoon-dribbble:before {
	content: "\e77f";
}
.icon-icomoon-dribbble2:before {
	content: "\e780";
}
.icon-icomoon-dribbble3:before {
	content: "\e781";
}
.icon-icomoon-forrst:before {
	content: "\e782";
}
.icon-icomoon-forrst2:before {
	content: "\e783";
}
.icon-icomoon-deviantart:before {
	content: "\e784";
}
.icon-icomoon-deviantart2:before {
	content: "\e785";
}
.icon-icomoon-steam:before {
	content: "\e786";
}
.icon-icomoon-steam2:before {
	content: "\e787";
}
.icon-icomoon-github:before {
	content: "\e788";
}
.icon-icomoon-github2:before {
	content: "\e789";
}
.icon-icomoon-github3:before {
	content: "\e78a";
}
.icon-icomoon-github4:before {
	content: "\e78b";
}
.icon-icomoon-github5:before {
	content: "\e78c";
}
.icon-icomoon-wordpress:before {
	content: "\e78d";
}
.icon-icomoon-wordpress2:before {
	content: "\e78e";
}
.icon-icomoon-joomla:before {
	content: "\e78f";
}
.icon-icomoon-blogger:before {
	content: "\e790";
}
.icon-icomoon-blogger2:before {
	content: "\e791";
}
.icon-icomoon-tumblr:before {
	content: "\e792";
}
.icon-icomoon-tumblr2:before {
	content: "\e793";
}
.icon-icomoon-yahoo:before {
	content: "\e794";
}
.icon-icomoon-tux:before {
	content: "\e795";
}
.icon-icomoon-apple:before {
	content: "\e796";
}
.icon-icomoon-finder:before {
	content: "\e797";
}
.icon-icomoon-android:before {
	content: "\e798";
}
.icon-icomoon-windows:before {
	content: "\e799";
}
.icon-icomoon-windows8:before {
	content: "\e79a";
}
.icon-icomoon-soundcloud:before {
	content: "\e79b";
}
.icon-icomoon-soundcloud2:before {
	content: "\e79c";
}
.icon-icomoon-skype:before {
	content: "\e79d";
}
.icon-icomoon-reddit:before {
	content: "\e79e";
}
.icon-icomoon-linkedin:before {
	content: "\e79f";
}
.icon-icomoon-lastfm:before {
	content: "\e7a0";
}
.icon-icomoon-lastfm2:before {
	content: "\e7a1";
}
.icon-icomoon-delicious:before {
	content: "\e7a2";
}
.icon-icomoon-stumbleupon:before {
	content: "\e7a3";
}
.icon-icomoon-stumbleupon2:before {
	content: "\e7a4";
}
.icon-icomoon-stackoverflow:before {
	content: "\e7a5";
}
.icon-icomoon-pinterest:before {
	content: "\e7a6";
}
.icon-icomoon-pinterest2:before {
	content: "\e7a7";
}
.icon-icomoon-xing:before {
	content: "\e7a8";
}
.icon-icomoon-xing2:before {
	content: "\e7a9";
}
.icon-icomoon-flattr:before {
	content: "\e7aa";
}
.icon-icomoon-foursquare:before {
	content: "\e7ab";
}
.icon-icomoon-foursquare2:before {
	content: "\e7ac";
}
.icon-icomoon-paypal:before {
	content: "\e7ad";
}
.icon-icomoon-paypal2:before {
	content: "\e7ae";
}
.icon-icomoon-paypal3:before {
	content: "\e7af";
}
.icon-icomoon-yelp:before {
	content: "\e7b0";
}
.icon-icomoon-libreoffice:before {
	content: "\e7b1";
}
.icon-icomoon-file-pdf:before {
	content: "\e7b2";
}
.icon-icomoon-file-openoffice:before {
	content: "\e7b3";
}
.icon-icomoon-file-word:before {
	content: "\e7b4";
}
.icon-icomoon-file-excel:before {
	content: "\e7b5";
}
.icon-icomoon-file-zip:before {
	content: "\e7b6";
}
.icon-icomoon-file-powerpoint:before {
	content: "\e7b7";
}
.icon-icomoon-file-xml:before {
	content: "\e7b8";
}
.icon-icomoon-file-css:before {
	content: "\e7b9";
}
.icon-icomoon-html5:before {
	content: "\e7ba";
}
.icon-icomoon-html52:before {
	content: "\e7bb";
}
.icon-icomoon-css3:before {
	content: "\e7bc";
}
.icon-icomoon-chrome:before {
	content: "\e7bd";
}
.icon-icomoon-firefox:before {
	content: "\e7be";
}
.icon-icomoon-IE:before {
	content: "\e7bf";
}
.icon-icomoon-opera:before {
	content: "\e7c0";
}
.icon-icomoon-safari:before {
	content: "\e7c1";
}
.icon-icomoon-IcoMoon:before {
	content: "\e7c2";
}
