$total-columns : 4;
$column-width  : 4em;
$gutter-width  : 0.5em;
$grid-padding  : 0em;

$break-1 : 30em 6;
$break-2 : 50em 12;
$break-3 : 60em 15;

$relative-font-sizing  : true;
$show-grid-backgrounds : true;
$container-width: 100%;


.site {
	@include container;
	//@include susy-grid-background;
	margin: 0 auto;

	@include at-breakpoint($break-3) {
		@include container;
		//@include susy-grid-background;
	}
}

#site-header {
	@include at-breakpoint($break-3) {
		overflow: hidden;
		h1.title {
			@include span-columns(5, 15);
			margin-left: -4em;
		}

		p {
			@include span-columns(10 omega, 15);
			@include adjust-font-size-to(13px);
			text-align: right;
		}

		#block-locale-language {
			@include span-columns(10 omega, 15);
			padding-right: 1em;
			div {
				ul {
					//@include horizontal-list;
					@include span-columns(2 omega, 15);
					background-color: gray;
					li {
						display: none;
					}
					li.active {
						display: block;
					}
					&:hover li {
						display: block;
					}
				}
			}
		}
	}
}

#site-nav {
	overflow: visible;
	margin-top: -4.5em;
	ul {
		@include horizontal-list;
		float: right;
	  overflow: visible;
		li,
	  li.first,
	  li.last	{
			a {
			}
		}
		li.leaf {
			padding: 0;
		}
		li.expanded {
			position: relative;
			ul {
				position: absolute;
				display: none;
			}
			&:hover {
				ul {
					display: block;
					top: 1.7em;
					left: 0;
					li {
						display: inline-block;
						width: 100%;
					}
				}
			}
		}
	}
}

#main-content {

	@include at-breakpoint($break-3) {

		article.serie {
			//overflow: hidden;
			div.item-list {
				//overflow: hidden;
				//clear: both;
				//@include margin-trailer;
			}
			h3 {
				//@include rhythm-borders;
				//border: none;
				//@include rhythm(0,0.1,0.1,0);
				padding-left: 3em;
				//@include margin-trailer;
			}
			ul {
		    @include pre(1);
		    @include post(1);
				overflow: hidden;
				li{
					@include span-columns(3, 12);
					@include nth-omega(4n);
					@include margin-trailer;

					div.box {
						position: relative;
						overflow: hidden;
						a {
							div.slide {
								&:hover {
									div.scontent {
									}
								}
							}
							img {
								width: 100%;
								max-width: 100%;
								height: auto;
								display: block;
							}
							div.scontent {
								position: absolute;
								width: 100%;
								height: 100%;
								top: 0;
								padding: 1em;
								h2 {
					        padding-left: 2.5em;
								}
							}

							div.slide.catalogo {
								div.scontent {
									//padding: 0;
									//padding-top: 2em;
									h2 {
										padding-left: 0;
									}
								}
							}
						}
					}
				}
			}
		}

		article.producto {
			padding-left: 0.5em;
			padding-right: 0.5em;

			header {
				overflow: hidden;
				@include trailing-border;
				@include margin-trailer;
			}
			h1 {
				@include span-columns(4, 12);
			}
      section#ficheros {
				@include span-columns(8 omega, 12);
					padding: 0 3em;

				span.file {
				}

			}
			div.field-name-field-fichero-doc-tecnica {
				@include span-columns(4, 8);
			}
			div.field-name-field-fichero-man-instalacion {
				@include span-columns(4 omega, 8);
			}
			div.field-name-body {
				@include span-columns(6, 12);
				p, ul {
					padding-left: 1em;
				}
			}
			div.field-name-field-foto-producto {
				@include span-columns(6 omega, 12);
				img {
					max-width: 100%;
					width: 100%;
					height: auto;
				}	
			}

			div.product-navigation {
				@include span-columns(12, 12);
				@include leading-border;
				div {
					@include span-columns(4, 12);
					a {
						display: block;
						width: 100%;
					}
				}
				div.icon-icomoon-arrow-right2 {
					@include span-columns(4 omega, 12);
				}
			}
			section#catalogo {
				overflow: hidden;
				padding: 0.5em;
				@include span-columns(10, 12);
				@include pre(1);
				border: solid 1px black;
				div.field-name-field-fichero-catalogo-producto {
				}
				div.field-name-field-detalles-producto {
					img {
						max-width: 100%;
						width: 100%;
						height: auto;
					}
				}
			}
		}

	}
}

#site-banner {
	@include margin-leader(0.7);
}

#site-footer {
	div.region-footer {
		@include at-breakpoint($break-2) {
			@include pre(1);
			@include post(1);
		}
		@include at-breakpoint($break-3) {
			@include pre(2);
			@include post(2);
		}
	}
}
