$total-columns : 4;
$column-width  : 4em;
$gutter-width  : 1em;
$grid-padding  : 0em;

$break-1 : 30em 6;
$break-2 : 50em 12;
$break-3 : 60em 15;

$relative-font-sizing  : true;
$show-grid-backgrounds : true;


.site {
	@include container;
	//@include susy-grid-background;
	margin: 0 auto;

	@include at-breakpoint($break-3) {
		@include container;
		//@include susy-grid-background;
	}
}

#site-header {
	@include at-breakpoint($break-3) {
		overflow: hidden;
		h1.title {
			@include span-columns(5, 15);
			margin-left: -4em;
		}

		p {
			@include span-columns(10 omega, 15);
			@include adjust-font-size-to(13px);
			text-align: right;
		}

		#block-locale-language {
			@include span-columns(10 omega, 15);
			div {
				ul {
					@include horizontal-list;
					float: right;
				}
			}
		}
	}
}

#site-nav {
	overflow: visible;
	margin-top: -4.5em;
	ul {
		@include horizontal-list;
		float: right;
	  overflow: visible;
		li,
	  li.first,
	  li.last	{
			a {
			}
		}
		li.expanded {
			position: relative;
			ul {
				position: absolute;
				display: none;
			}
			&:hover {
				ul {
					display: block;
					top: 2.1em;
					left: 0;
					li {
						display: inline-block;
						width: 100%;
					}
				}
			}
		}
	}
}

#site-banner {
	@include margin-leader(1);
}

