$total-columns : 4;
$column-width  : 4em;
$gutter-width  : 0.5em;
$grid-padding  : 0em;

$break-1 : 30em 6;
$break-2 : 50em 12;
$break-3 : 60em 15;

$relative-font-sizing  : true;
$show-grid-backgrounds : true;
$container-width: 100%;


.site {
	@include container;
	margin: 0 auto;
	min-width: 320px;
	//@include susy-grid-background;
	&:berfore {
		//content: "Break-0";
	}

	@include at-breakpoint($break-1) {
		&:before {
			//content: "Break-1";
		}
	}
	@include at-breakpoint($break-2) {
		&:before {
			//content: "Break-2";
		}
	}
	@include at-breakpoint($break-3) {
		&:before {
			//content: "Break-3";
		}
	}
}

#site-header {

	margin: 0;
	margin-top: 0.5em;
	padding: 0;

	h1.title {
		@include span-columns(4, 4);
		img {
			display: block;
			width: 100%;
		}
		&>p:first-of-type {
			@include span-columns(4, 4);
		}
	}
	
	#block-locale-language {
		div.item-list {
			display: none;
		}
	}

	@include at-breakpoint($break-1) {
		@include span-columns(6, 6);
		overflow: visible;
		h1.title {
			@include span-columns(4, 6);
			margin-left: -4em;
		}
		p {
			span {
				display: block;
			}
		}

	}

	@include at-breakpoint($break-2) {
		@include span-columns(12, 12);
		h1.title {
			@include span-columns(5, 12);
			margin-left: -4em;
		}

		p {
			@include span-columns(7 omega, 12);
			@include adjust-font-size-to(13px);
			padding-right: 1em;
			text-align: right;
			span {
				display: inline;
			}
		}

		#block-locale-language {
			@include margin-leader;
			position: relative; // http://www.desarrolloweb.com/articulos/propiedad-z-index.html
			z-index: 20;
			@include span-columns(7 omega, 12);
			padding-right: 1em;
			position: relative;
			min-height: 2.5em;
			div.item-list {
				display: block;
				ul {
					@include span-columns(3 omega, 12);
					position: absolute;
					top: 0;
					right: 1em;
					li {
						display: none;
						margin: 0;
						a {
							display: block;
						}
					}
					li.active {
						display: block;
						a {
						}
					}
					&:hover li {
						display: block;
					}
				}
			}

			select {
					display: none;
			}
		}
	}

	@include at-breakpoint($break-3) {
		@include span-columns(15, 15);
		position: fixed;
		top: -0.5em;
		background-color: white;
		z-index: 10;
		@include single-box-shadow;
		h1.title {
			@include span-columns(5, 15);
			a {
				img {
					//max-width: 16em;
					max-width: 350px;
				}
			}
		}

		p {
			@include span-columns(10 omega, 15);
		}

		#block-locale-language {
			@include span-columns(10 omega, 15);

			div.item-list {
				ul {
					@include span-columns(2 omega, 15);
				}
			}

		}
	}
}

#site-nav {

	//display: block;
	

	ul {
		@include horizontal-list;
		//@include rhythm-borders;
		border: none;
		li {
			margin: 0;
			padding: 0 0.5em;
			a {
			}
		}
		li,
		li.leaf,
		li.expanded	{
			list-style-type: none;
			list-style-image: none;
		}
	}

	@include at-breakpoint($break-1) {
		overflow: visible;
		ul {
			@include span-columns(6, 6);
		}
	}

	@include at-breakpoint($break-2) {
		position: relative;
		//height: 3em;
		//background-color: magenta;
		z-index: 10;
	  overflow: visible;
		//clear: both;
		//&:after {
		//	content: "";
		//}

		ul {
		  //@include span-columns(12, 12);
		  padding: 0;
			//float: right;
			overflow: visible;
			li {
			}
			li,
			li.first,
			li.last	{
				a {
				}
			}
			li.leaf {
				padding: 0;
			}
			li.expanded {
				position: relative;
				ul {
					position: absolute;
					display: none;
				}
				&:hover {
					ul {
						display: block;
						top: 1.5em;
						left: 0;
			      width: auto;
						li {
							display: inline-block;
			        width: 100%;
						}
					}
				}
			}
		}
	}

	@include at-breakpoint($break-3) {
		@include span-columns(15, 15);
		//margin-top: -3em;
		ul:first-of-type {
			width: auto;
			float: right;
		}
		ul {
		}
	}

}

#main-content {
		@include span-columns(4, 4);
		//@include squish(1,1);
		overflow: visible;
		padding-left: .5em;
		padding-right: .5em;

		img {
			max-width: 100%;
			height: auto;
		}


    // Front Page
  	#block-system-main {
	  	div.view-frontpage {
		  	div.view-header {
		  	}
		  }
	  }
	  #block-views-catalogo-block-1 {
			margin: 0 auto;
			ul {
				li {
				  position: relative;
					display: inline-block;
					width: 100%;
					height: auto;
					h2 {
						position: absolute;
						top: 0;
						left: 0;
						width: 85%;
						margin: 0 7.5%;
						margin-top: 2.5%;
						padding: 0 1em;
					}
					img {
						display: block;
						width: 100%;
						max-width: 100%;
						height: auto;
						//min-height: 147px;
					}
				}
			}
	  }
		#block-views-frontpage-block-1 {
			position: relative;
			display: inline-block;
			//min-height: 200px;
			width: 100%;
			//margin-right: 1%;
			//margin-right: 2.5%;
			margin-bottom: 1%;
			padding: 0 2em;
			padding-top: 4em;
			vertical-align: top;
			.view-header h2 {
				position: absolute;
				top: 0;
				left: 0;
				width: 85%;
				margin: 0 7.5%;
				margin-top: 2.5%;
				padding: 0 1em;
			}
			.view-content {
				.node {
					margin-bottom: 1em;
					padding: 1em;
					padding-top: 0.2em;

					.link-wrapper {
						margin-top: -3em;
					}
				}
			}
		}
		#block-views-frontpage-block-2 {
			//float: right;
			position: relative;
			display: inline-block;
			//min-height: 200px;
			width: 100%;
			//margin-left: 1%;
			//margin-right: 2.5%;
			padding: 0 2em;
			padding-top: 4em;
			vertical-align: top;
			.view-header h2 {
				position: absolute;
				top: 0;
				left: 0;
				width: 85%;
				margin: 0 7.5%;
				margin-top: 2.5%;
				padding: 0 1em;
			}
			.view-content {
				.node {
					margin-bottom: 1em;
					padding: 1em;
					padding-top: 0.2em;

					.link-wrapper {
						margin-top: -3em;
					}
				}
			}
		}
	  // End Front Page

		.field-name-field-ficheros-basic-page {
			.field-item {
				display: inline-block;
				width: 25%;
				float: left;
				//padding: 0 1em;
			}
      span.file {
		  	display: inline-block;
			  min-height: 60px;
		  	padding-left: 3em;
			img {
				display: none;
			}
		}
		}

		article.basic-page.nuestro-grupo {
			.field-name-body {
				img {
					//float: right;
				}
			}
		}


		article.serie {
			div.item-list {
			}
			h3 {
				padding-left: 3em;
			}
			ul {
				//@include pre(1);
				//@include post(1);
				overflow: hidden;
				li{
					@include span-columns(4, 4);
					//@include nth-omega(5n);
					@include margin-trailer;

					div.box {
						position: relative;
						overflow: hidden;
						a {
							div.slide {
								&:hover {
									div.scontent {
									}
								}
							}
							img {
								width: 100%;
								max-width: 100%;
								height: auto;
								display: block;
							}
							div.scontent {
								position: absolute;
								width: 100%;
								height: 100%;
								top: 0;
								padding: 0.5em;
								h2 {
									padding-left: 2.5em;
								}
							}

							div.slide.catalogo {
								div.scontent {
									h2 {
										padding-left: 0;
									}
								}
							}
						}
					}
				}
			}
		}

	
	article.producto {
		padding-left: 0.5em;
		padding-right: 0.5em;

		div.field-name-field-foto-producto {
			@include span-columns(4, 4);
			img {
				display: block;
				max-width: 100%;
				width: 100%;
				height: auto;
			}	
		}

		section#catalogo {
			div.field-name-field-fichero-catalogo-producto {
			}
			div.field-name-field-detalles-producto {
				img {
					display: block;
					max-width: 100%;
					width: 100%;
					height: auto;
				}
			}
		}

		div.product-navigation {
				//@include span-columns(12, 12);
				clear: both;
				@include leading-border;
				@include margin-trailer;
				overflow: hidden;
				div {
					@include span-columns(2, 4);
					a {
						display: block;
						width: 100%;
					}
				}
				div.icon-icomoon-arrow-right2 {
					@include span-columns(2 omega, 4);
				}
			}
	}

	article#descargas {
		table {
			//border: solid 1px black;
			width: 100%;
			@include margin-trailer;
			caption {
			}
			thead {
				display: none;
			}
			tbody {
				tr.odd {
				}
				td {
					width: 30%;
				}
				td:first-child {
					width: 10%;
				}
			}
		}
		table.cols2 {
			tbody {
				tr.odd {
				}
				td {
					width: 90%;
				}
				td:first-child {
					width: 10%;
				}
			}
		}
		table.cols4 {
			tbody {
				tr.odd {
				}
				td {
					width: 30%;
				}
				td:first-child {
					width: 10%;
				}
			}
		}
	}

	@include at-breakpoint($break-1) {
		@include span-columns(6, 6);
		//@include squish(1,1);
		overflow: visible;

		article.serie {
			div.item-list {
			}
			h3 {
				padding-left: 3em;
			}
			ul {
				//@include pre(1);
				//@include post(1);
				overflow: hidden;
				li{
					//@include span-columns(2, 4);
					display: inline-block;
					width: 47%;
					//@include nth-omega(5n);
					@include margin-trailer;

					div.box {
						position: relative;
						overflow: hidden;
						a {
							div.slide {
								&:hover {
									div.scontent {
									}
								}
							}
							img {
								width: 100%;
								max-width: 100%;
								height: auto;
								display: block;
							}
							div.scontent {
								position: absolute;
								width: 100%;
								height: 100%;
								top: 0;
								padding: 0.5em;
								h2 {
									padding-left: 2.5em;
								}
							}

							div.slide.catalogo {
								div.scontent {
									h2 {
										padding-left: 0;
									}
								}
							}
						}
					}
				}
			}
		}

	}

	@include at-breakpoint($break-2) {
		@include span-columns(10, 12);
		@include squish(1,1);
		overflow: visible;

    article.serie {
			div.item-list {
			}
			h3 {
				padding-left: 3em;
			}
			ul {
				@include pre(1);
				@include post(1);
				overflow: hidden;
				li{
					@include span-columns(4, 10);
					//@include nth-omega(5n);
					@include margin-trailer;

					div.box {
						position: relative;
						overflow: hidden;
						a {
							div.slide {
								&:hover {
									div.scontent {
									}
								}
							}
							img {
								width: 100%;
								max-width: 100%;
								height: auto;
								display: block;
							}
							div.scontent {
								position: absolute;
								width: 100%;
								height: 100%;
								top: 0;
								padding: 0.5em;
								h2 {
									padding-left: 2.5em;
								}
							}

							div.slide.catalogo {
								div.scontent {
									h2 {
										padding-left: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	@include at-breakpoint($break-3) {

		@include span-columns(13, 15);
		@include squish(1,1);
		overflow: visible;

		a.feed-icon {
			display: block;
			clear: both;
		}

		aside.fp-aside {
			//@include span-columns(7, 15);
			margin: 0 auto;
		}

    // Front Page
  	#block-system-main {
	  	div.view-frontpage {
		  	div.view-header {
		  	}
		  }
	  }
	  #block-views-catalogo-block-1 {
			margin: 0 auto;
			ul {
				li {
				  position: relative;
					display: inline-block;
					width: 30%;
					height: auto;
					h2 {
						position: absolute;
						top: 0;
						left: 0;
						width: 85%;
						margin: 0 7.5%;
						margin-top: 2.5%;
						padding: 0 1em;
					}
					img {
						display: block;
						width: 100%;
						max-width: 100%;
						height: auto;
						min-height: 147px;
					}
				}
			}
	  }
		#block-views-frontpage-block-1 {
			position: relative;
			display: inline-block;
			min-height: 200px;
			width: 48%;
			margin-right: 1%;
			//margin-right: 2.5%;
			padding: 0 2em;
			padding-top: 4em;
			vertical-align: top;
			.view-header h2 {
				position: absolute;
				top: 0;
				left: 0;
				width: 85%;
				margin: 0 7.5%;
				margin-top: 2.5%;
				padding: 0 1em;
			}
			.node {
				.content {
					.field {
						width: 70%;
						display: inline-block;
						vertical-align: top;
						padding: 0.3em;
					}
					.field-name-field-foto-evento {
						width: 30%;
						img {
							width: 100%;
							max-width: 100%;
							height: auto;
						}
					}
				}
				.link-wrapper {
					text-align: right;
				}
			}
		}
		#block-views-frontpage-block-2 {
			//float: right;
			position: relative;
			display: inline-block;
			min-height: 200px;
			width: 48%;
			margin-left: 1%;
			//margin-right: 2.5%;
			padding: 0 2em;
			padding-top: 4em;
			vertical-align: top;
			.view-header h2 {
				position: absolute;
				top: 0;
				left: 0;
				width: 85%;
				margin: 0 7.5%;
				margin-top: 2.5%;
				padding: 0 1em;
			}
			.node {

			}
		}
	  // End Front Page
	
    article.basic-page.nuestro-grupo {
			.field-name-body {
				img {
					float: right;
				}
			}
		}

		article.serie {
			div.item-list {
			}
			h3 {
				padding-left: 3em;
			}
			ul {
				@include pre(1);
				@include post(1);
				overflow: hidden;
				li{
					@include span-columns(3, 15);
					@include nth-omega(5n);
					@include margin-trailer;

					div.box {
						position: relative;
						overflow: hidden;
						a {
							div.slide {
								&:hover {
									div.scontent {
									}
								}
							}
							img {
								width: 100%;
								max-width: 100%;
								height: auto;
								display: block;
							}
							div.scontent {
								position: absolute;
								width: 100%;
								height: 100%;
								top: 0;
								padding: 0.5em;
								h2 {
									padding-left: 2.5em;
								}
							}

							div.slide.catalogo {
								div.scontent {
									h2 {
										padding-left: 0;
									}
								}
							}
						}
					}
				}
			}
		}

		article.producto {
			
			padding-left: 0.5em;
			padding-right: 0.5em;

			header {
				overflow: hidden;
				@include trailing-border;
			}
			h1 {
				@include span-columns(4, 12);
			}
			section#ficheros {
				@include span-columns(8 omega, 12);
				padding: 0 3em;

				span.file {
				}

			}
			div.field-name-field-fichero-doc-tecnica {
				@include span-columns(4, 8);
			}
			div.field-name-field-fichero-man-instalacion {
				@include span-columns(4 omega, 8);
			}
			div.field-name-body {
				@include span-columns(6, 12);
				p, ul {
				}
			}
			div.field-name-field-foto-producto {
				@include span-columns(6 omega, 12);
				img {
					width: auto;
					display: block;
					margin: 3em auto;
					height: auto;
				}	
			}

			div.product-navigation {
				@include span-columns(12, 12);
				@include leading-border;
				div {
					@include span-columns(4, 12);
					a {
						display: block;
						width: 100%;
					}
				}
				div.icon-icomoon-arrow-right2 {
					@include span-columns(4 omega, 12);
				}
			}

			section#catalogo {
				overflow: hidden;
				padding: 0.5em;
				@include span-columns(10, 12);
				@include pre(1);
				border: solid 1px black;
				div.field-name-field-fichero-catalogo-producto {
				}
				div.field-name-field-detalles-producto {
					img {
						max-width: 100%;
						width: 100%;
						height: auto;
					}
				}
			}
		}

	}
}

#site-banner,
div.hot {

	display: none;

	@include at-breakpoint($break-2) {
		display: block;
		@include span-columns(12, 12);
		position: relative;
		z-index: 1;
	}

	@include at-breakpoint($break-3) {
		@include span-columns(15, 15);
		margin-top: 8.4em;
	}
}
#site-banner {
	@include at-breakpoint($break-3) {
		margin-top: 7em;
	}
}

#site-footer {

	overflow: hidden;
	  clear: both;
		&:after {
			content: " ";
		}

	nav {
		ul {
			@include margin-trailer;
			li,
			li.first,
			li.last,
		  li.leaf	{
				//margin-right: 4em;
				//display: inline-block;
			  list-style: none;
				width: 100%;
				margin: 0;
				padding: 0;
				a {
				  display: block;
				  width: 100%;
				  white-space: nowrap;
				  overflow: hidden;
					text-overflow: ellipsis;
				}
			}
			li.leaf {
				padding: 0;
			  list-style: none;
			}
			li.expanded {
				padding: 0;
			  list-style: none;
				ul {
					li {
						display: inline-block;
						width: 100%;
					}
				}
			}
			&>li:first-of-type {
				display: none;
			}
		}
	}

	section#copyright {
	}
	section#legal {
	}

	@include at-breakpoint($break-1) {
		overflow: hidden;
	  clear: both;
		&:after {
			content: " ";
		}


		nav {
			@include span-columns(6, 6);
			ul {
				@include horizontal-list;
				@include margin-trailer;
				li,
			  li.first,
			  li.last,
			  li.leaf	{
					@include span-columns(2, 4);
					margin-right: 0;
				}
				li.leaf {
				}
			}
		}
	}

	@include at-breakpoint($break-2) {
    overflow: hidden;
		clear: both;
		&:after {
			content: " ";
		}

		nav {
			@include span-columns(10, 12);
			@include squish(1,1);
			overflow: visible;
			ul {
				@include horizontal-list;
				li,
			  li.first,
			  li.last,
			  li.leaf	{
					//@include span-columns(4, 12);
					//@include nth-omega(4n);
					width: 25%;
					margin-right: 0;
				}
			}
			&>ul>li {
					min-height: 8em;
				}

		}
		section#copyright {
			@include span-columns(12, 12);
		}
	}

	@include at-breakpoint($break-3) {
		overflow: hidden;
		clear: both;
		&:after {
			content: " ";
		}

		nav {
			@include span-columns(13, 15);
			@include squish(1,1);
			overflow: visible;
			clear: both;
			&:after {
				content: " ";
			}

			ul {
				@include horizontal-list;
				li,
				li.first,
				li.last,
				li.leaf	{
					//@include span-columns(2, 11);
					width: 20%;
				}
			}
			ul~li {
				margin: 0 auto;
				background-color: red;
			}
		}
		section#copyright {
			@include span-columns(7, 15);
		}
		section#legal {
			@include span-columns(7 omega, 15);
		}
	}
}
