/* CSS Document */
#focusBar {
	width: 100%;
	height: 250px;
	clear: both;
	position: relative;
	overflow: hidden;
}
#focusBar li { width:100%; clear:both; height:644px; display:none; position:absolute;/* position:relative;*/}
#focusBar .focusL { height:644px; position:absolute; z-index:9; /*left:-1000px;*/ top:0px; left:-500px; margin-left:50%;}
#focusBar .focusR {
	height: 1250px;
	position: absolute;
	z-index: 19;/* right:1000px; */
	top: 0px;
	left: -500px;
	margin-left: 50%;
}
a.arrL,a.arrR {
	display: block;
	width: 52px;
	height: 134px;
	position: absolute;
	top: 100px;
	z-index: 99;
	cursor: pointer;
	background-image: url(http://www.cmo.es/html/images/bt_arr.png);
	background-repeat: no-repeat;
}
a.arrL {
	left: -52px;
	background-position: 0px 0px;
} a.arrR { right:-52px; background-position:-68px 0px;}
a.arrL:hover {
	background-position: 0px -144px;
}
a.arrR:hover {
	background-position: -68px -144px;
}















/**/
