
.site {
}

#site-header {
}

#site-nav {
}

#site-banner {
}

#main-content {

	@include at-breakpoint($break-3) {
		article.serie {
			h3 {
			}
			ul {
				li {
					div.box {
						a {
							div.slide {
								&:hover {
									div.scontent {
								    background-color: rgba(0,0,60,0);
										h2 {
											opacity: 0;
										}
										//opacity: 0.25;
										p {
											opacity: 0;
										}
									}
									img {
										@include scale(1.2, 1.2);
									}
								}
							}
							img {
								@include transition-property(all);
								@include transition-duration(0.5s);
							}
							div.scontent {
								@include transition-property(all);
								@include transition-duration(1s);
								h2 {
									@include transition-property(all);
									@include transition-duration(1s);
								}
								p {
									@include transition-property(all);
									@include transition-duration(1s);
								}
							}

							div.slide.catalogo {
								&:hover {
								div.scontent {
									h2 {
											//background-color: transparent;
											//@include translate(0, $base-line-height * 4);
											//@include skew(30deg, -20deg);
									}
								}
							}
							}
						} 
					}
				}
			}
		}

		article.producto {
		}

	}
}

#site-footer {
}
