.site {
  font-family: 'Exo 2', sans-serif;
}

#site-header {
	@include rhythm-borders;
	border: none;
}

#site-nav {
	@include rhythm-borders;
	border: none;
	@include adjust-font-size-to(16px);
	letter-spacing: 0.05em;
	text-transform: uppercase;
	ul {
		li,
		li.first,
		li.last	{
			@include apply-side-rhythm-border(left);
			@include apply-side-rhythm-border(right);
			@include rhythm(0,0.3,0.3,0);
			border: none;
			a {
			}
		}
	}
}

#site-banner {
	@include adjust-font-size-to(22px);
	line-height: 6em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: 600;
}

#main-content {
	@include rhythm-borders;
	border: none;
}

#site-footer {
	@include rhythm-borders;
}
