@import "icomoon";

.site {
  font-family: 'Exo 2', sans-serif;
}

#site-header {
	@include rhythm-borders;
	border: none;
	p {
		@include adjust-font-size-to(13px);
		text-align: right;
	}

	#block-locale-language {
		@include adjust-font-size-to(13px);
	}
}

#site-nav {
	@include rhythm-borders;
	border: none;
	@include adjust-font-size-to(16px);
	letter-spacing: 0.05em;
	text-transform: uppercase;
	ul {
		li,
		li.first,
		li.last	{
			@include apply-side-rhythm-border(left);
			@include apply-side-rhythm-border(right);
			@include rhythm(0,0.3,0.3,0);
			border: none;
			a {
			}
			ul {
				border: solid 1px rgba(gray, 0.5);
			}
		}
		li.expanded {
		}
	}
}

#site-banner {
	@include adjust-font-size-to(22px);
	line-height: 6em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: 600;
}

#main-content {
	@include rhythm-borders;
	border: none;
	p {
		@include rhythm(0,1,1,0);
	}
	@include at-breakpoint($break-3) {
		h1 {
			@include adjust-font-size-to(48px);
			text-align: center;
		}
		h2 {
			@include adjust-font-size-to(24px);
		}
	}
}

#site-footer {
	@include rhythm-borders;
}


// Iconos menu principal
.icon-icomoon-arrow-down2:before {
	content: "";
}
.icon-icomoon-arrow-down2:after {
	font-family: 'icomoon';
	content: "\e72c";
}
.icon-icomoon-arrow-down2 {
	font-family: 'Exo 2';
	text-transform: uppercase;
}
