@import "icomoon";

sup {
	@include adjust-font-size-to(12px);
	vertical-align: super;
}

.site {
  font-family: 'Exo 2', sans-serif;
}

#site-header {
	//@include rhythm-borders;
	//border: none;
	p {
		@include adjust-font-size-to(13px);
		text-align: right;
	}

	#block-locale-language {
		@include adjust-font-size-to(13px);
	}
}

#site-nav {
	@include rhythm-borders;
	border: none;
	@include adjust-font-size-to(16px);
	letter-spacing: 0.05em;
	text-transform: uppercase;
	ul {
		li,
		li.first,
		li.last	{
			a {
			@include apply-side-rhythm-border(left);
			@include apply-side-rhythm-border(right);
			border: none;
			@include rhythm(0,0.3,0.3,0);
			}
			ul {
				border: solid 1px rgba(gray, 0.5);
			}
		}
		li.expanded {
		}
	}
}

#site-banner {
	@include adjust-font-size-to(22px);
	line-height: 6em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: 600;
}

#main-content {
	//@include rhythm-borders;
	//border: none;
	@include padding-leader;
	p, ul {
		@include rhythm(0,1,1,0);
	}
	@include at-breakpoint($break-3) {
		h1 {
			@include adjust-font-size-to(48px);
			text-align: center;
		}
		h2 {
			@include adjust-font-size-to(24px);
		}

		article.producto {
			h1, h2 {
				@include adjust-font-size-to(14px);
				font-weight: bold;
				text-align: left;
				letter-spacing: 0.045em;
			}
			div.field-item {
				h2 {
				  @include adjust-font-size-to(16px);
				}
			}
			section#ficheros {
				@include adjust-font-size-to(13px);
				text-transform: capitalize;
				letter-spacing: 0.1em;
				text-align: right;
				div.field-name-field-fichero-doc-tecnica {
				}
			}
			div.field-name-body {
				@include adjust-font-size-to(14px);
			}
			div.product-navigation {
				div {
					@include rhythm(0,1,1,0);
					a {
						font-weight: bold;
						padding: 0 4em;
					}
				}
				div.icon-icomoon-arrow-left2 {
          font-family: 'Exo 2', sans-serif;
				}
				div.icon-icomoon-arrow-right2 {
          font-family: 'Exo 2', sans-serif;
					text-align: right;
				}
			}
			div.tabs {
				ul.tabs.primary {
				}
			}
		}

		article.serie {
			div.scontent {
				text-align: left;
				h2 {
					@include adjust-font-size-to(16px);
					font-weight: bold;
					//text-align: left;
					text-transform: uppercase;
				}
				p {
					@include adjust-font-size-to(14px);
					font-weight: bold;
					@include text-shadow(rgba(#036, 0.5) 2px 2px 3px);
					letter-spacing: 0.12em;
					text-align: center;
				}
			}
			div.slide.catalogo {
				div.scontent {
					text-align: center;
				}
			}
		}

	}
}

#site-footer {
	@include rhythm-borders;
	min-height: 601px;
}


// Iconos menu principal
.icon-icomoon-arrow-down2:before {
	content: "";
}
.icon-icomoon-arrow-down2:after {
	font-family: 'icomoon';
	content: "\e72c";
}
.icon-icomoon-arrow-down2 {
	font-family: 'Exo 2';
	text-transform: uppercase;
}

