/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 61, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 14, ../sass/_layout.scss */
.site {
  *zoom: 1;
  max-width: 19em;
  _width: 19em;
  padding-left: 0em;
  padding-right: 0em;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(21.05263%, rgba(100, 100, 225, 0.25)), color-stop(21.05263%, rgba(0, 0, 0, 0)), color-stop(26.31579%, rgba(0, 0, 0, 0)), color-stop(26.31579%, rgba(100, 100, 225, 0.25)), color-stop(47.36842%, rgba(100, 100, 225, 0.25)), color-stop(47.36842%, rgba(0, 0, 0, 0)), color-stop(52.63158%, rgba(0, 0, 0, 0)), color-stop(52.63158%, rgba(100, 100, 225, 0.25)), color-stop(73.68421%, rgba(100, 100, 225, 0.25)), color-stop(73.68421%, rgba(0, 0, 0, 0)), color-stop(78.94737%, rgba(0, 0, 0, 0)), color-stop(78.94737%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 21.05263%, rgba(0, 0, 0, 0) 21.05263%, rgba(0, 0, 0, 0) 26.31579%, rgba(100, 100, 225, 0.25) 26.31579%, rgba(100, 100, 225, 0.25) 47.36842%, rgba(0, 0, 0, 0) 47.36842%, rgba(0, 0, 0, 0) 52.63158%, rgba(100, 100, 225, 0.25) 52.63158%, rgba(100, 100, 225, 0.25) 73.68421%, rgba(0, 0, 0, 0) 73.68421%, rgba(0, 0, 0, 0) 78.94737%, rgba(100, 100, 225, 0.25) 78.94737%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 21.05263%, rgba(0, 0, 0, 0) 21.05263%, rgba(0, 0, 0, 0) 26.31579%, rgba(100, 100, 225, 0.25) 26.31579%, rgba(100, 100, 225, 0.25) 47.36842%, rgba(0, 0, 0, 0) 47.36842%, rgba(0, 0, 0, 0) 52.63158%, rgba(100, 100, 225, 0.25) 52.63158%, rgba(100, 100, 225, 0.25) 73.68421%, rgba(0, 0, 0, 0) 73.68421%, rgba(0, 0, 0, 0) 78.94737%, rgba(100, 100, 225, 0.25) 78.94737%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 21.05263%, rgba(0, 0, 0, 0) 21.05263%, rgba(0, 0, 0, 0) 26.31579%, rgba(100, 100, 225, 0.25) 26.31579%, rgba(100, 100, 225, 0.25) 47.36842%, rgba(0, 0, 0, 0) 47.36842%, rgba(0, 0, 0, 0) 52.63158%, rgba(100, 100, 225, 0.25) 52.63158%, rgba(100, 100, 225, 0.25) 73.68421%, rgba(0, 0, 0, 0) 73.68421%, rgba(0, 0, 0, 0) 78.94737%, rgba(100, 100, 225, 0.25) 78.94737%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 21.05263%, rgba(0, 0, 0, 0) 21.05263%, rgba(0, 0, 0, 0) 26.31579%, rgba(100, 100, 225, 0.25) 26.31579%, rgba(100, 100, 225, 0.25) 47.36842%, rgba(0, 0, 0, 0) 47.36842%, rgba(0, 0, 0, 0) 52.63158%, rgba(100, 100, 225, 0.25) 52.63158%, rgba(100, 100, 225, 0.25) 73.68421%, rgba(0, 0, 0, 0) 73.68421%, rgba(0, 0, 0, 0) 78.94737%, rgba(100, 100, 225, 0.25) 78.94737%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  margin: 0 auto;
}
/* line 38, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.site:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 60em) {
  /* line 14, ../sass/_layout.scss */
  .site {
    max-width: 74em;
    padding-left: 0em;
    padding-right: 0em;
    margin-left: auto;
    margin-right: auto;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(5.40541%, rgba(100, 100, 225, 0.25)), color-stop(5.40541%, rgba(0, 0, 0, 0)), color-stop(6.75676%, rgba(0, 0, 0, 0)), color-stop(6.75676%, rgba(100, 100, 225, 0.25)), color-stop(12.16216%, rgba(100, 100, 225, 0.25)), color-stop(12.16216%, rgba(0, 0, 0, 0)), color-stop(13.51351%, rgba(0, 0, 0, 0)), color-stop(13.51351%, rgba(100, 100, 225, 0.25)), color-stop(18.91892%, rgba(100, 100, 225, 0.25)), color-stop(18.91892%, rgba(0, 0, 0, 0)), color-stop(20.27027%, rgba(0, 0, 0, 0)), color-stop(20.27027%, rgba(100, 100, 225, 0.25)), color-stop(25.67568%, rgba(100, 100, 225, 0.25)), color-stop(25.67568%, rgba(0, 0, 0, 0)), color-stop(27.02703%, rgba(0, 0, 0, 0)), color-stop(27.02703%, rgba(100, 100, 225, 0.25)), color-stop(32.43243%, rgba(100, 100, 225, 0.25)), color-stop(32.43243%, rgba(0, 0, 0, 0)), color-stop(33.78378%, rgba(0, 0, 0, 0)), color-stop(33.78378%, rgba(100, 100, 225, 0.25)), color-stop(39.18919%, rgba(100, 100, 225, 0.25)), color-stop(39.18919%, rgba(0, 0, 0, 0)), color-stop(40.54054%, rgba(0, 0, 0, 0)), color-stop(40.54054%, rgba(100, 100, 225, 0.25)), color-stop(45.94595%, rgba(100, 100, 225, 0.25)), color-stop(45.94595%, rgba(0, 0, 0, 0)), color-stop(47.2973%, rgba(0, 0, 0, 0)), color-stop(47.2973%, rgba(100, 100, 225, 0.25)), color-stop(52.7027%, rgba(100, 100, 225, 0.25)), color-stop(52.7027%, rgba(0, 0, 0, 0)), color-stop(54.05405%, rgba(0, 0, 0, 0)), color-stop(54.05405%, rgba(100, 100, 225, 0.25)), color-stop(59.45946%, rgba(100, 100, 225, 0.25)), color-stop(59.45946%, rgba(0, 0, 0, 0)), color-stop(60.81081%, rgba(0, 0, 0, 0)), color-stop(60.81081%, rgba(100, 100, 225, 0.25)), color-stop(66.21622%, rgba(100, 100, 225, 0.25)), color-stop(66.21622%, rgba(0, 0, 0, 0)), color-stop(67.56757%, rgba(0, 0, 0, 0)), color-stop(67.56757%, rgba(100, 100, 225, 0.25)), color-stop(72.97297%, rgba(100, 100, 225, 0.25)), color-stop(72.97297%, rgba(0, 0, 0, 0)), color-stop(74.32432%, rgba(0, 0, 0, 0)), color-stop(74.32432%, rgba(100, 100, 225, 0.25)), color-stop(79.72973%, rgba(100, 100, 225, 0.25)), color-stop(79.72973%, rgba(0, 0, 0, 0)), color-stop(81.08108%, rgba(0, 0, 0, 0)), color-stop(81.08108%, rgba(100, 100, 225, 0.25)), color-stop(86.48649%, rgba(100, 100, 225, 0.25)), color-stop(86.48649%, rgba(0, 0, 0, 0)), color-stop(87.83784%, rgba(0, 0, 0, 0)), color-stop(87.83784%, rgba(100, 100, 225, 0.25)), color-stop(93.24324%, rgba(100, 100, 225, 0.25)), color-stop(93.24324%, rgba(0, 0, 0, 0)), color-stop(94.59459%, rgba(0, 0, 0, 0)), color-stop(94.59459%, rgba(100, 100, 225, 0.25)), color-stop(100.0%, rgba(100, 100, 225, 0.25)), color-stop(100.0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.40541%, rgba(0, 0, 0, 0) 5.40541%, rgba(0, 0, 0, 0) 6.75676%, rgba(100, 100, 225, 0.25) 6.75676%, rgba(100, 100, 225, 0.25) 12.16216%, rgba(0, 0, 0, 0) 12.16216%, rgba(0, 0, 0, 0) 13.51351%, rgba(100, 100, 225, 0.25) 13.51351%, rgba(100, 100, 225, 0.25) 18.91892%, rgba(0, 0, 0, 0) 18.91892%, rgba(0, 0, 0, 0) 20.27027%, rgba(100, 100, 225, 0.25) 20.27027%, rgba(100, 100, 225, 0.25) 25.67568%, rgba(0, 0, 0, 0) 25.67568%, rgba(0, 0, 0, 0) 27.02703%, rgba(100, 100, 225, 0.25) 27.02703%, rgba(100, 100, 225, 0.25) 32.43243%, rgba(0, 0, 0, 0) 32.43243%, rgba(0, 0, 0, 0) 33.78378%, rgba(100, 100, 225, 0.25) 33.78378%, rgba(100, 100, 225, 0.25) 39.18919%, rgba(0, 0, 0, 0) 39.18919%, rgba(0, 0, 0, 0) 40.54054%, rgba(100, 100, 225, 0.25) 40.54054%, rgba(100, 100, 225, 0.25) 45.94595%, rgba(0, 0, 0, 0) 45.94595%, rgba(0, 0, 0, 0) 47.2973%, rgba(100, 100, 225, 0.25) 47.2973%, rgba(100, 100, 225, 0.25) 52.7027%, rgba(0, 0, 0, 0) 52.7027%, rgba(0, 0, 0, 0) 54.05405%, rgba(100, 100, 225, 0.25) 54.05405%, rgba(100, 100, 225, 0.25) 59.45946%, rgba(0, 0, 0, 0) 59.45946%, rgba(0, 0, 0, 0) 60.81081%, rgba(100, 100, 225, 0.25) 60.81081%, rgba(100, 100, 225, 0.25) 66.21622%, rgba(0, 0, 0, 0) 66.21622%, rgba(0, 0, 0, 0) 67.56757%, rgba(100, 100, 225, 0.25) 67.56757%, rgba(100, 100, 225, 0.25) 72.97297%, rgba(0, 0, 0, 0) 72.97297%, rgba(0, 0, 0, 0) 74.32432%, rgba(100, 100, 225, 0.25) 74.32432%, rgba(100, 100, 225, 0.25) 79.72973%, rgba(0, 0, 0, 0) 79.72973%, rgba(0, 0, 0, 0) 81.08108%, rgba(100, 100, 225, 0.25) 81.08108%, rgba(100, 100, 225, 0.25) 86.48649%, rgba(0, 0, 0, 0) 86.48649%, rgba(0, 0, 0, 0) 87.83784%, rgba(100, 100, 225, 0.25) 87.83784%, rgba(100, 100, 225, 0.25) 93.24324%, rgba(0, 0, 0, 0) 93.24324%, rgba(0, 0, 0, 0) 94.59459%, rgba(100, 100, 225, 0.25) 94.59459%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.40541%, rgba(0, 0, 0, 0) 5.40541%, rgba(0, 0, 0, 0) 6.75676%, rgba(100, 100, 225, 0.25) 6.75676%, rgba(100, 100, 225, 0.25) 12.16216%, rgba(0, 0, 0, 0) 12.16216%, rgba(0, 0, 0, 0) 13.51351%, rgba(100, 100, 225, 0.25) 13.51351%, rgba(100, 100, 225, 0.25) 18.91892%, rgba(0, 0, 0, 0) 18.91892%, rgba(0, 0, 0, 0) 20.27027%, rgba(100, 100, 225, 0.25) 20.27027%, rgba(100, 100, 225, 0.25) 25.67568%, rgba(0, 0, 0, 0) 25.67568%, rgba(0, 0, 0, 0) 27.02703%, rgba(100, 100, 225, 0.25) 27.02703%, rgba(100, 100, 225, 0.25) 32.43243%, rgba(0, 0, 0, 0) 32.43243%, rgba(0, 0, 0, 0) 33.78378%, rgba(100, 100, 225, 0.25) 33.78378%, rgba(100, 100, 225, 0.25) 39.18919%, rgba(0, 0, 0, 0) 39.18919%, rgba(0, 0, 0, 0) 40.54054%, rgba(100, 100, 225, 0.25) 40.54054%, rgba(100, 100, 225, 0.25) 45.94595%, rgba(0, 0, 0, 0) 45.94595%, rgba(0, 0, 0, 0) 47.2973%, rgba(100, 100, 225, 0.25) 47.2973%, rgba(100, 100, 225, 0.25) 52.7027%, rgba(0, 0, 0, 0) 52.7027%, rgba(0, 0, 0, 0) 54.05405%, rgba(100, 100, 225, 0.25) 54.05405%, rgba(100, 100, 225, 0.25) 59.45946%, rgba(0, 0, 0, 0) 59.45946%, rgba(0, 0, 0, 0) 60.81081%, rgba(100, 100, 225, 0.25) 60.81081%, rgba(100, 100, 225, 0.25) 66.21622%, rgba(0, 0, 0, 0) 66.21622%, rgba(0, 0, 0, 0) 67.56757%, rgba(100, 100, 225, 0.25) 67.56757%, rgba(100, 100, 225, 0.25) 72.97297%, rgba(0, 0, 0, 0) 72.97297%, rgba(0, 0, 0, 0) 74.32432%, rgba(100, 100, 225, 0.25) 74.32432%, rgba(100, 100, 225, 0.25) 79.72973%, rgba(0, 0, 0, 0) 79.72973%, rgba(0, 0, 0, 0) 81.08108%, rgba(100, 100, 225, 0.25) 81.08108%, rgba(100, 100, 225, 0.25) 86.48649%, rgba(0, 0, 0, 0) 86.48649%, rgba(0, 0, 0, 0) 87.83784%, rgba(100, 100, 225, 0.25) 87.83784%, rgba(100, 100, 225, 0.25) 93.24324%, rgba(0, 0, 0, 0) 93.24324%, rgba(0, 0, 0, 0) 94.59459%, rgba(100, 100, 225, 0.25) 94.59459%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.40541%, rgba(0, 0, 0, 0) 5.40541%, rgba(0, 0, 0, 0) 6.75676%, rgba(100, 100, 225, 0.25) 6.75676%, rgba(100, 100, 225, 0.25) 12.16216%, rgba(0, 0, 0, 0) 12.16216%, rgba(0, 0, 0, 0) 13.51351%, rgba(100, 100, 225, 0.25) 13.51351%, rgba(100, 100, 225, 0.25) 18.91892%, rgba(0, 0, 0, 0) 18.91892%, rgba(0, 0, 0, 0) 20.27027%, rgba(100, 100, 225, 0.25) 20.27027%, rgba(100, 100, 225, 0.25) 25.67568%, rgba(0, 0, 0, 0) 25.67568%, rgba(0, 0, 0, 0) 27.02703%, rgba(100, 100, 225, 0.25) 27.02703%, rgba(100, 100, 225, 0.25) 32.43243%, rgba(0, 0, 0, 0) 32.43243%, rgba(0, 0, 0, 0) 33.78378%, rgba(100, 100, 225, 0.25) 33.78378%, rgba(100, 100, 225, 0.25) 39.18919%, rgba(0, 0, 0, 0) 39.18919%, rgba(0, 0, 0, 0) 40.54054%, rgba(100, 100, 225, 0.25) 40.54054%, rgba(100, 100, 225, 0.25) 45.94595%, rgba(0, 0, 0, 0) 45.94595%, rgba(0, 0, 0, 0) 47.2973%, rgba(100, 100, 225, 0.25) 47.2973%, rgba(100, 100, 225, 0.25) 52.7027%, rgba(0, 0, 0, 0) 52.7027%, rgba(0, 0, 0, 0) 54.05405%, rgba(100, 100, 225, 0.25) 54.05405%, rgba(100, 100, 225, 0.25) 59.45946%, rgba(0, 0, 0, 0) 59.45946%, rgba(0, 0, 0, 0) 60.81081%, rgba(100, 100, 225, 0.25) 60.81081%, rgba(100, 100, 225, 0.25) 66.21622%, rgba(0, 0, 0, 0) 66.21622%, rgba(0, 0, 0, 0) 67.56757%, rgba(100, 100, 225, 0.25) 67.56757%, rgba(100, 100, 225, 0.25) 72.97297%, rgba(0, 0, 0, 0) 72.97297%, rgba(0, 0, 0, 0) 74.32432%, rgba(100, 100, 225, 0.25) 74.32432%, rgba(100, 100, 225, 0.25) 79.72973%, rgba(0, 0, 0, 0) 79.72973%, rgba(0, 0, 0, 0) 81.08108%, rgba(100, 100, 225, 0.25) 81.08108%, rgba(100, 100, 225, 0.25) 86.48649%, rgba(0, 0, 0, 0) 86.48649%, rgba(0, 0, 0, 0) 87.83784%, rgba(100, 100, 225, 0.25) 87.83784%, rgba(100, 100, 225, 0.25) 93.24324%, rgba(0, 0, 0, 0) 93.24324%, rgba(0, 0, 0, 0) 94.59459%, rgba(100, 100, 225, 0.25) 94.59459%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.40541%, rgba(0, 0, 0, 0) 5.40541%, rgba(0, 0, 0, 0) 6.75676%, rgba(100, 100, 225, 0.25) 6.75676%, rgba(100, 100, 225, 0.25) 12.16216%, rgba(0, 0, 0, 0) 12.16216%, rgba(0, 0, 0, 0) 13.51351%, rgba(100, 100, 225, 0.25) 13.51351%, rgba(100, 100, 225, 0.25) 18.91892%, rgba(0, 0, 0, 0) 18.91892%, rgba(0, 0, 0, 0) 20.27027%, rgba(100, 100, 225, 0.25) 20.27027%, rgba(100, 100, 225, 0.25) 25.67568%, rgba(0, 0, 0, 0) 25.67568%, rgba(0, 0, 0, 0) 27.02703%, rgba(100, 100, 225, 0.25) 27.02703%, rgba(100, 100, 225, 0.25) 32.43243%, rgba(0, 0, 0, 0) 32.43243%, rgba(0, 0, 0, 0) 33.78378%, rgba(100, 100, 225, 0.25) 33.78378%, rgba(100, 100, 225, 0.25) 39.18919%, rgba(0, 0, 0, 0) 39.18919%, rgba(0, 0, 0, 0) 40.54054%, rgba(100, 100, 225, 0.25) 40.54054%, rgba(100, 100, 225, 0.25) 45.94595%, rgba(0, 0, 0, 0) 45.94595%, rgba(0, 0, 0, 0) 47.2973%, rgba(100, 100, 225, 0.25) 47.2973%, rgba(100, 100, 225, 0.25) 52.7027%, rgba(0, 0, 0, 0) 52.7027%, rgba(0, 0, 0, 0) 54.05405%, rgba(100, 100, 225, 0.25) 54.05405%, rgba(100, 100, 225, 0.25) 59.45946%, rgba(0, 0, 0, 0) 59.45946%, rgba(0, 0, 0, 0) 60.81081%, rgba(100, 100, 225, 0.25) 60.81081%, rgba(100, 100, 225, 0.25) 66.21622%, rgba(0, 0, 0, 0) 66.21622%, rgba(0, 0, 0, 0) 67.56757%, rgba(100, 100, 225, 0.25) 67.56757%, rgba(100, 100, 225, 0.25) 72.97297%, rgba(0, 0, 0, 0) 72.97297%, rgba(0, 0, 0, 0) 74.32432%, rgba(100, 100, 225, 0.25) 74.32432%, rgba(100, 100, 225, 0.25) 79.72973%, rgba(0, 0, 0, 0) 79.72973%, rgba(0, 0, 0, 0) 81.08108%, rgba(100, 100, 225, 0.25) 81.08108%, rgba(100, 100, 225, 0.25) 86.48649%, rgba(0, 0, 0, 0) 86.48649%, rgba(0, 0, 0, 0) 87.83784%, rgba(100, 100, 225, 0.25) 87.83784%, rgba(100, 100, 225, 0.25) 93.24324%, rgba(0, 0, 0, 0) 93.24324%, rgba(0, 0, 0, 0) 94.59459%, rgba(100, 100, 225, 0.25) 94.59459%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-position: left top;
    -webkit-background-origin: content;
    -moz-background-origin: content;
    -ms-background-origin: content-box;
    -o-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box;
  }
  /* line 38, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .site:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 60em) {
  /* line 25, ../sass/_layout.scss */
  #site-header {
    overflow: hidden;
  }
  /* line 28, ../sass/_layout.scss */
  #site-header h1.title {
    width: 32.43243%;
    float: left;
    margin-right: 1.35135%;
    margin-left: -4em;
  }
  /* line 33, ../sass/_layout.scss */
  #site-header p {
    width: 66.21622%;
    float: right;
    margin-right: 0;
    font-size: 0.8125em;
    line-height: 1.84615em;
    text-align: right;
  }
  /* line 39, ../sass/_layout.scss */
  #site-header #site-languages {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    float: right;
  }
  /* line 60, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
  #site-header #site-languages li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
  }
  /* line 48, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
  #site-header #site-languages li:first-child, #site-header #site-languages li.first {
    padding-left: 0;
  }
  /* line 49, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
  #site-header #site-languages li:last-child {
    padding-right: 0;
  }
  /* line 50, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
  #site-header #site-languages li.last {
    padding-right: 0;
  }
}

/* line 1, ../sass/_typography.scss */
.site {
  font-family: 'Exo 2', sans-serif;
}

/* line 5, ../sass/_typography.scss */
#site-header {
  border-style: solid;
  border-width: 0.0625em;
  padding: 1.4375em;
}

/* line 9, ../sass/_typography.scss */
#site-nav {
  border-style: solid;
  border-width: 0.0625em;
  padding: 1.4375em;
}

/* line 13, ../sass/_typography.scss */
#site-footer {
  border-style: solid;
  border-width: 0.0625em;
  padding: 1.4375em;
}

/* line 1, ../sass/_colors.scss */
#site-header {
  background-color: rgba(255, 255, 0, 0.5);
}
/* line 3, ../sass/_colors.scss */
#site-header p {
  color: #999;
}

/* line 8, ../sass/_colors.scss */
#site-nav {
  background-color: rgba(255, 255, 0, 0.5);
}
/* line 10, ../sass/_colors.scss */
#site-nav p {
  color: #999;
}

/* line 15, ../sass/_colors.scss */
#site-footer {
  background-color: rgba(255, 255, 0, 0.5);
}
/* line 17, ../sass/_colors.scss */
#site-footer p {
  color: #999;
}
