/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 61, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 13, ../sass/_base.scss */
a {
  text-decoration: none;
}

/* line 14, ../sass/_layout.scss */
.site {
  *zoom: 1;
  max-width: 19em;
  _width: 19em;
  padding-left: 0em;
  padding-right: 0em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}
/* line 38, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.site:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 60em) {
  /* line 14, ../sass/_layout.scss */
  .site {
    max-width: 74em;
    padding-left: 0em;
    padding-right: 0em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .site:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 60em) {
  /* line 25, ../sass/_layout.scss */
  #site-header {
    overflow: hidden;
  }
  /* line 28, ../sass/_layout.scss */
  #site-header h1.title {
    width: 32.43243%;
    float: left;
    margin-right: 1.35135%;
    margin-left: -4em;
  }
  /* line 33, ../sass/_layout.scss */
  #site-header p {
    width: 66.21622%;
    float: right;
    margin-right: 0;
    font-size: 0.8125em;
    line-height: 1.84615em;
    text-align: right;
  }
  /* line 39, ../sass/_layout.scss */
  #site-header #block-locale-language {
    width: 66.21622%;
    float: right;
    margin-right: 0;
  }
  /* line 42, ../sass/_layout.scss */
  #site-header #block-locale-language div ul {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    float: right;
  }
  /* line 60, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
  #site-header #block-locale-language div ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
  }
  /* line 48, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
  #site-header #block-locale-language div ul li:first-child, #site-header #block-locale-language div ul li.first {
    padding-left: 0;
  }
  /* line 49, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
  #site-header #block-locale-language div ul li:last-child {
    padding-right: 0;
  }
  /* line 50, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
  #site-header #block-locale-language div ul li.last {
    padding-right: 0;
  }
}

/* line 51, ../sass/_layout.scss */
#site-nav {
  overflow: hidden;
  margin-top: -4.5em;
}
/* line 54, ../sass/_layout.scss */
#site-nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  float: right;
}
/* line 60, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#site-nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#site-nav ul li:first-child, #site-nav ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#site-nav ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../.rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#site-nav ul li.last {
  padding-right: 0;
}

/* line 1, ../sass/_typography.scss */
.site {
  font-family: 'Exo 2', sans-serif;
}

/* line 5, ../sass/_typography.scss */
#site-header {
  border-style: solid;
  border-width: 0.0625em;
  padding: 1.4375em;
  border: none;
}

/* line 10, ../sass/_typography.scss */
#site-nav {
  border-style: solid;
  border-width: 0.0625em;
  padding: 1.4375em;
  border: none;
}

/* line 15, ../sass/_typography.scss */
#site-banner {
  font-size: 1.375em;
  line-height: 2.18182em;
  line-height: 6em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
}

/* line 24, ../sass/_typography.scss */
#main-content {
  border-style: solid;
  border-width: 0.0625em;
  padding: 1.4375em;
  border: none;
}

/* line 29, ../sass/_typography.scss */
#site-footer {
  border-style: solid;
  border-width: 0.0625em;
  padding: 1.4375em;
}

/* line 3, ../sass/_colors.scss */
#site-header p {
  color: #999;
}

/* line 10, ../sass/_colors.scss */
#site-nav a {
  border-style: solid;
  border-width: 0.0625em;
  padding: 1.4375em;
  border: none;
  color: #017CC2;
}
/* line 14, ../sass/_colors.scss */
#site-nav a:hover {
  background-color: #017cc2;
  color: white;
}

/* line 21, ../sass/_colors.scss */
#site-banner {
  background-image: -webkit-gradient(radial, 50% 0, 0, 50% 0, 100, color-stop(0%, #d5f1fd), color-stop(90%, #93c9ee), color-stop(100%, #52a9de));
  background-image: -webkit-radial-gradient(50% 0, ellipse, #d5f1fd, #93c9ee 90%, #52a9de);
  background-image: -moz-radial-gradient(50% 0, ellipse, #d5f1fd, #93c9ee 90%, #52a9de);
  background-image: -o-radial-gradient(50% 0, ellipse, #d5f1fd, #93c9ee 90%, #52a9de);
  background-image: radial-gradient(50% 0, ellipse, #d5f1fd, #93c9ee 90%, #52a9de);
  color: #0073b5;
  text-shadow: rgba(0, 0, 255, 0.5) 2px 2px 3px;
}

/* line 27, ../sass/_colors.scss */
#site-footer {
  background-color: rgba(128, 128, 128, 0.5);
}
/* line 29, ../sass/_colors.scss */
#site-footer p {
  color: #999;
}
